* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --header-height: 5.6rem;
    --white-color: white;
    --slider-height-PC-high: 12.8rem;
    --slider-height-PC: 10.8rem;
    --slider-height-tablet: 8.8rem;
    --slider-height-mobile: 4.8rem;
    --primary-color: rgb(31, 37, 51);
}

html {
    font-size: 62.5%;  /* = 1rem */
    font-family: 'Outfit', sans-serif;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    overflow-y: scroll;
}

#app {
    background-color: #363c48;
    padding: 8px 16px;
    overflow: hidden;
}


/* Vẽ hình thang */


.trapezoid_btn:hover {
    bottom: -5rem;
    transition: all ease-in 0.3s;
    cursor: pointer;
}

.trapezoid_btn-size-s {
    position: relative;
    border-style: solid;
    border-width: 2.8rem 0 3.2rem 18.8rem;
    border-color: var(--primary-color) transparent transparent var(--primary-color);
    width: 0px;
    z-index: 1;
    left: 20%;
}

.trapezoid_btn-size-s:hover {
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes swipeRight {
    from {
        transform: translateX(-10%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}