@charset "UTF-8";
.clip-path {
  clip-path: polygon(0 0, 100% 0, 100% 27%, 0 43%);
}

.clip-path-logo {
  clip-path: polygon(0 0, 100% 0, 100% 54%, 0 72%);
  background-color: white;
}

#main {
  width: 100%;
  display: block;
  padding: 0;
}

#header {
  background-color: #1f2533;
  color: white;
  font-weight: white;
  font-size: 2rem;
}
#header .row {
  display: flex;
  flex-direction: row;
  align-items: unset;
  justify-content: space-between;
}
#header .header__item {
  display: flex;
  flex-direction: row;
  align-items: unset;
  justify-content: unset;
  line-height: 5.6rem;
}
#header .header__item--wrap {
  display: flex;
  flex-direction: row;
  align-items: unset;
  justify-content: unset;
}
#header .header__item--wrap:nth-child(1) {
  padding-right: 2.6rem;
}
#header .header__item a:hover {
  filter: brightness(70%);
}
#header .header__item:nth-child(2) {
  padding-right: 2.6rem;
}
#header .header__item-contact {
  display: flex;
  flex-direction: row;
  align-items: unset;
  justify-content: space-between;
}
#header .header__item-contact a {
  text-decoration: none;
  color: white;
  font-weight: white;
  font-size: unset;
}
#header .header__item-language-icon {
  height: 5.6rem;
}
#header .header__item-language-icon img {
  height: calc(5.6rem - 10px);
  line-height: 5.6rem;
}
#header .header_item-icon {
  color: white;
  font-weight: white;
  font-size: unset;
  line-height: var(--header-height);
  padding: 0 1.6rem;
}

#nav {
  background-color: #656972;
}
#nav .row {
  display: flex;
  flex-direction: row;
  align-items: unset;
  justify-content: space-between;
}
#nav .nav__item {
  position: relative;
  z-index: 1;
}
#nav .nav__item-menu {
  display: none;
}
#nav .nav__item-logo {
  position: absolute;
  top: 0;
  z-index: 1;
  padding: 10rem 9rem;
  max-height: 10rem;
}
#nav .nav__item-logo img {
  position: absolute;
  top: 1rem;
  left: 0;
  width: 100%;
}
#nav .nav__item .nav_content--close {
  display: none;
}
#nav .nav__item-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
#nav .nav__item-content li a {
  text-decoration: none;
  color: white;
  font-weight: white;
  font-size: 2rem;
  opacity: 0.8;
}
#nav .nav__item-content > li {
  position: relative;
  transition: transform ease 0.3s;
}
#nav .nav__item-content > li:hover {
  transform: scale(120%);
}
#nav .nav__item-content > li:hover .subnav {
  display: block;
}
#nav .nav__item-content .subnav {
  display: none;
  background-color: white;
  position: absolute;
  top: calc(100% - 2rem);
  z-index: 2;
  min-width: 20rem;
  line-height: 2.4rem;
  opacity: 1;
  animation: ease swipeRight 0.5s;
  box-shadow: 1rem 1rem 10rem rgba(172, 172, 172, 0.685);
}
#nav .nav__item-content .subnav:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2.4rem;
  top: -2rem;
  left: 0;
}
#nav .nav__item-content .subnav li {
  list-style: none;
  color: #1f2533;
  font-weight: unset;
  font-size: 2rem;
  padding: 1.6rem;
}
#nav .nav__item-content .subnav li:hover {
  background-color: #1f2533;
  color: white;
  font-weight: unset;
  font-size: unset;
}
#nav .nav__item-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#nav .nav__item-search--input {
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  width: 100%;
  padding-right: 0;
}
#nav .nav__item-search--input input {
  padding: 0.8rem 0.8rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border: none;
  width: 100%;
}
#nav .nav__item-search--icon {
  background-color: #1f2533;
  color: white;
  font-weight: 600;
  font-size: unset;
  padding: 1rem 1.6rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

#slider {
  display: flex;
  flex-direction: column;
  align-items: unset;
  justify-content: space-between;
  position: relative;
  height: 45rem;
}
#slider .slider__image {
  width: 100%;
  height: 100%;
}
#slider .slider__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#slider .slider__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 40%;
  left: 0;
  text-align: center;
  width: 100%;
}
#slider .slider__content p:first-child {
  color: white;
  font-weight: 600;
  font-size: 7rem;
}
#slider .slider__content p:last-child {
  color: white;
  font-weight: unset;
  font-size: 4rem;
}
#slider .slider__page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 40%;
  left: 0;
  text-align: center;
  width: 100%;
}
#slider .slider__page-content p:first-child {
  color: white;
  font-weight: 600;
  font-size: 3.5rem;
}
#slider .slider__page-content p:last-child {
  color: white;
  font-weight: unset;
  font-size: 1.5rem;
}
#slider__page--no-bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: #e5e5e5;
  height: 20rem;
}
#slider__page--no-bg .slider__page--no-bg-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 25%;
  left: 0;
  text-align: center;
  width: 100%;
}
#slider__page--no-bg .slider__page--no-bg-content p:first-child {
  color: #848a8a;
  font-weight: 600;
  font-size: 1.2rem;
  padding-bottom: 3.2rem;
}
#slider__page--no-bg .slider__page--no-bg-content p:last-child {
  color: #1f2533;
  font-weight: 900;
  font-size: 4rem;
}

#product {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: unset;
  justify-content: unset;
  padding: 6.8rem 0;
}
#product .product__image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
#product .product__image img img {
  height: 100%;
}
#product .product_list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
#product .product__item {
  background-color: white;
  text-align: center;
  position: relative;
  padding: 3.2rem;
}
#product .product__item-image img {
  width: 100%;
}
#product .trapezoid_btn {
  background-color: #1f2533;
  width: 80%;
  left: 10%;
  position: absolute;
  padding: 8rem;
  text-align: center;
}
#product .trapezoid_btn p {
  position: absolute;
  font-size: 2rem;
  top: 10%;
  color: white;
  left: 25%;
}

#introduction-policy {
  background-image: linear-gradient(to bottom, var(--white-color), rgba(255, 254, 254, 0.76));
  padding: 6.8rem 0;
}
#introduction-policy #introduction {
  position: relative;
}
#introduction-policy #introduction .introduction__header {
  text-align: center;
}
#introduction-policy #introduction .introduction__header p {
  color: #1f2533;
  font-weight: 900;
  font-size: 3rem;
}
#introduction-policy #introduction .introduction__header p span {
  color: #ec1c21;
  font-weight: unset;
  font-size: unset;
}
#introduction-policy #introduction .introduction__content {
  color: #1f2533;
  font-weight: unset;
  font-size: 1.6rem;
  line-height: 3rem;
  text-align: justify;
  padding: 6.4rem 0;
}
#introduction-policy #introduction .introduction__btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #1f2533;
  position: relative;
  text-align: center;
  padding: 7rem 3rem;
  margin: 0 auto;
  width: 20%;
}
#introduction-policy #introduction .introduction__btn p {
  color: white;
  font-weight: unset;
  font-size: 2rem;
  position: absolute;
  top: 8%;
}
#introduction-policy #policy .policy__content {
  padding: 5.6rem 4.8rem;
  border: 5px solid black;
  margin: 3.2rem;
}
#introduction-policy #policy .policy__content--wrap {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#introduction-policy #policy .policy__content-header {
  color: #1f2533;
  font-weight: bold;
  font-size: 3.6rem;
}
#introduction-policy #policy .policy__content-content {
  color: #1f2533;
  font-weight: unset;
  font-size: 2.4rem;
  text-align: justify;
  padding: 3.2rem 0;
}
#introduction-policy #policy .policy__content-link {
  text-decoration: none;
  color: #1f2533;
  font-weight: 600;
  font-size: 2.4rem;
}
#introduction-policy #policy .policy__img {
  margin: 0 -12px;
}
#introduction-policy #policy .policy__img img {
  width: 100%;
  height: 100%;
}

#blog {
  background-color: #e5e5e5;
  padding: 6.8rem 0;
}
#blog .blog__new-header {
  background-color: #1f2533;
  padding: 3.2rem;
}
#blog .blog__new-header-item {
  color: white;
  font-weight: 700;
  font-size: 3rem;
}
#blog .blog__new-header-content {
  color: white;
  font-weight: 300;
  font-size: 2.4rem;
  padding: 1.6rem 0;
  line-height: 3.2rem;
}
#blog .blog__new-btn {
  background-color: white;
  padding: 3.2rem;
  text-align: center;
}
#blog .blog__new-btn a {
  text-decoration: none;
  color: #1f2533;
  font-weight: 600;
  font-size: 3rem;
}
#blog .blog__list .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#blog .blog__list-item-image img {
  width: 100%;
  height: 20.2rem;
  object-fit: cover;
}
#blog .blog__list-item-content {
  background-color: white;
  color: #1f2533;
  font-weight: 600;
  font-size: 1.8rem;
  padding: 2.4rem 1.6rem;
}

#introduction-page {
  background-color: white;
  padding: 6.8rem 0;
}
#introduction-page .introduction-page__content {
  text-align: justify;
}
#introduction-page .introduction-page__content--content {
  color: rgba(101, 105, 114, 0.8);
  font-weight: unset;
  font-size: 1.6rem;
  line-height: 3rem;
}
#introduction-page .introduction-page__content--header {
  color: unset;
  font-weight: 600;
  font-size: 2rem;
  padding: 3.2rem 0;
}
#introduction-page .introduction-page__img {
  padding: 6.4rem 0 3.2rem;
}
#introduction-page .introduction-page__img-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#image {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: unset;
  justify-content: unset;
  padding: 6.8rem 0;
}
#image .image__content {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: unset;
  justify-content: space-between;
  width: 100%;
  height: 30.2rem;
}
#image .image__content:first-child {
  padding-bottom: 3.2rem;
}
#image .image__content-item {
  width: 100%;
  height: 100%;
}
#image .image__content-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#contact {
  display: flex;
  flex-direction: row;
  align-items: unset;
  justify-content: space-between;
  background-color: #f9f9f9;
  padding: 6.8rem 0;
}
#contact .contact__info--wrap {
  padding-bottom: 1.6rem;
}
#contact .contact__info--wrap input, #contact .contact__info--wrap select {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ccc;
}
#contact .contact__info-header {
  color: unset;
  font-weight: 600;
  font-size: 2.6rem;
}
#contact .contact__info-need {
  color: #1f2533;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3rem;
}
#contact .contact__info-need p {
  padding-left: 0.8rem;
  border-left: 0.4rem solid #1f2533;
}
#contact .contact__info-item {
  display: flex;
  flex-direction: column;
  align-items: unset;
  justify-content: unset;
}
#contact .contact__info-item-wrap {
  display: flex;
  flex-direction: row;
  align-items: unset;
  justify-content: space-between;
}
#contact .contact__info-item--header {
  color: unset;
  font-weight: bold;
  font-size: 2rem;
}
#contact .contact__info--btn {
  background-color: #1f2533;
  position: relative;
  padding: 5rem;
  text-align: center;
  margin-left: 1.4rem;
}
#contact .contact__info--btn p {
  position: absolute;
  color: white;
  font-weight: unset;
  font-size: 1.2rem;
  top: 10%;
  left: 23%;
}
#contact .contact__map img {
  width: 100%;
  transition: transform ease 1.5s;
  padding-top: 1.6rem;
}
#contact .contact__map img:hover {
  transform: scale(130%);
  cursor: pointer;
}

#video {
  background-color: white;
  padding: 6.8rem 0;
}
#video .video-item {
  width: 100%;
  height: 30.3rem;
  position: relative;
  display: flex;
  flex-direction: unset;
  align-items: center;
  justify-content: center;
}
#video .video-item-image {
  width: 100%;
  height: 100%;
}
#video .video-item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#video .video-item .video-icon {
  background-color: white;
  color: unset;
  font-weight: unset;
  font-size: 2rem;
  position: absolute;
  z-index: 1;
  width: 5rem;
  height: 5rem;
  text-align: center;
  line-height: 5rem;
  border-radius: 100%;
}

#news {
  display: flex;
  flex-direction: column;
  align-items: unset;
  justify-content: space-around;
  background-color: #f9f9f9;
  padding: 6.8rem 0;
}
#news .new {
  display: none;
}
#news .new.active {
  display: block;
}
#news .news__list {
  display: flex;
  flex-direction: row;
  align-items: unset;
  justify-content: space-between;
  padding: 1.6rem 0;
  height: 24.6rem;
}
#news .news__list-item {
  width: 100%;
}
#news .news__list-item-image {
  width: 100%;
  height: 13.4rem;
}
#news .news__list-item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#news .news__list-item-content p {
  color: #1f2533;
  font-weight: 600;
  font-size: 1.6rem;
  background-color: white;
  padding: 3.2rem 0.8rem;
}
#news .new-page__content {
  text-align: justify;
}
#news .new-page__content--content {
  color: rgba(101, 105, 114, 0.8);
  font-weight: unset;
  font-size: 1.6rem;
  line-height: 3rem;
}
#news .new-page__content--header {
  color: unset;
  font-weight: 600;
  font-size: 2rem;
  padding: 3.2rem 0;
}
#news .introduction-page__img {
  padding: 6.4rem 0 3.2rem;
}
#news .introduction-page__img-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#news .new__suggest-header {
  display: flex;
  flex-direction: unset;
  align-items: center;
  justify-content: center;
}
#news .new__suggest-header p {
  color: unset;
  font-weight: 600;
  font-size: 2.6rem;
  padding: 2.4rem 1.6rem 0.8rem;
}

#product-details {
  background-color: white;
  padding: 6.8rem 0;
}
#product-details .wrapped {
  padding-left: 4.8rem;
}
#product-details .product-details__menu {
  background-color: #f3f7fa;
  box-shadow: 1rem 1rem 2rem #ccc;
  margin: 0 -1.2rem;
}
#product-details .product-details__menu li {
  list-style: none;
  color: #1f2533;
  font-weight: bold;
  font-size: 2rem;
  border: 1px solid #d8d6d6;
  padding: 1.6rem;
}
#product-details .product-details__menu li:hover {
  cursor: pointer;
}
#product-details .product-details__wrap {
  display: none;
  position: relative;
}
#product-details .product-details__wrap.active {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#product-details .product-details__wrap img:hover {
  filter: brightness(80%);
  cursor: pointer;
}
#product-details .product-details__wrap table {
  color: unset;
  font-weight: unset;
  font-size: 1.6rem;
  width: 100%;
  box-shadow: 1rem 1rem 2rem #ccc;
}
#product-details .product-details__wrap thead {
  background-color: #1f2533;
  color: white;
  font-weight: unset;
  font-size: unset;
}
#product-details .product-details__wrap th, #product-details .product-details__wrap td {
  padding: 1.6rem 1.6rem;
  text-align: left;
}
#product-details .product-details__wrap tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}
#product-details .product-details__wrap-image {
  width: 100%;
  height: 29rem;
}
#product-details .product-details__wrap-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#product-details .product-details__wrap .image__content-icon {
  background-color: white;
  position: absolute;
  color: red;
  font-weight: unset;
  font-size: 3rem;
  width: 7rem;
  height: 7rem;
  border-radius: 100%;
  text-align: center;
  line-height: 7rem;
}
#product-details .product-details__wrap--ky-thuat {
  display: flex;
  flex-direction: column;
  align-items: unset;
  justify-content: unset;
  color: rgba(101, 105, 114, 0.9);
  font-weight: unset;
  font-size: 1.6rem;
  text-align: justify;
}
#product-details .product-details__wrap--ky-thuat > p {
  padding: 0.8rem 0;
  line-height: 2.6rem;
}
#product-details .product-details__desc {
  padding-left: 5.6rem;
}
#product-details .product-details__desc li {
  list-style: none;
  color: rgba(101, 105, 114, 0.9);
  font-weight: unset;
  font-size: 1.6rem;
}
#product-details .product-details__desc li:before {
  content: "•";
  color: black;
  font-weight: 900;
  font-size: 2.6rem;
  display: inline-block;
  width: 3rem;
  margin-left: -1em;
}
#product-details .product-details__company {
  color: #1f2533;
  font-weight: 600;
  font-size: unset;
}
#product-details .product-details__contact p {
  line-height: 3rem;
}
#product-details .product-details__contact p span {
  color: #1f2533;
  font-weight: 600;
  font-size: unset;
}

#footer {
  background-color: #1f2533;
  color: white;
  font-weight: unset;
  font-size: unset;
  padding-bottom: 3.2rem;
}
#footer .footer__desc {
  display: flex;
  flex-direction: row;
  align-items: unset;
  justify-content: space-between;
  padding: 0 0 6.4rem;
}
#footer .footer__desc-left {
  position: relative;
}
#footer .footer__desc-left .nav__item-logo {
  background-color: white;
  padding: 12rem;
}
#footer .footer__desc-left .nav__item-logo img {
  position: absolute;
  top: 0;
  left: 2rem;
}
#footer .footer__desc-left .footer__content {
  color: rgba(229, 229, 229, 0.4);
  font-weight: unset;
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: justify;
  transform: translateY(-4rem);
}
#footer .footer__desc-right {
  display: flex;
  flex-direction: row;
  align-items: unset;
  justify-content: space-between;
  list-style: none;
}
#footer .footer__desc-right-wrap {
  padding: 10rem 0 0 3.2rem;
}
#footer .footer__desc-right-wrap .row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: unset;
  justify-content: space-between;
}
#footer .footer__desc-right__header {
  color: #e5e5e5;
  font-weight: 600;
  font-size: 1.6rem;
}
#footer .footer__desc-right__header a {
  text-decoration: none;
  color: rgba(229, 229, 229, 0.4);
  font-weight: 300;
  font-size: unset;
  transition: transform ease 0.3s;
}
#footer .footer__desc-right__header a:hover li {
  transform: translateX(0.5rem);
  filter: brightness(60%);
}
#footer .footer__desc-right__header a li {
  transition: transform ease 0.3s;
}
#footer .footer__desc-right__item {
  list-style: none;
  color: rgba(229, 229, 229, 0.4);
  font-weight: 300;
  font-size: unset;
  padding-top: 1.6rem;
}
#footer .footer__desc-right__item li {
  padding: 1.6rem 0;
  border-bottom: 2px solid rgba(229, 229, 229, 0.2);
  border-radius: 2px;
}
#footer .footer__desc-right__item:last-child {
  border: none;
}
#footer .footer__desc-right__item--no-bb {
  display: flex;
  flex-direction: row;
  align-items: unset;
  justify-content: unset;
  border: none;
  transition: transform ease 0.3s;
}
#footer .footer__desc-right__item--no-bb i {
  padding-right: 1.6rem;
}
#footer .footer__desc-right__item--no-bb a:hover {
  transform: translateX(0.5rem);
  filter: brightness(60%);
}
#footer .footer__ambition {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 3.2rem;
}
#footer .footer__ambition--content {
  text-align: center;
  padding: 3.2rem 0;
}
#footer .footer__ambition--content:first-child {
  background-color: #363c48;
}
#footer .footer__ambition--content:last-child {
  background-color: rgba(255, 254, 254, 0.9);
}
#footer .footer__ambition--content:last-child p {
  color: #1f2533;
  font-weight: 600;
  font-size: 2rem;
}
#footer .footer__ambition .footer__social {
  color: unset;
  font-weight: unset;
  font-size: 2rem;
}
#footer .footer__ambition .footer__social a {
  text-decoration: none;
  color: white;
  font-weight: unset;
  font-size: unset;
  transition: transform ease 0.5s;
}
#footer .footer__ambition .footer__social a:hover {
  transform: scale(120%);
  filter: brightness(60%);
}
#footer .footer__ambition .footer__social-icon {
  padding: 0 0.8rem;
}
#footer .footer__copyright {
  color: rgba(229, 229, 229, 0.5);
  font-weight: unset;
  font-size: 1.6rem;
  text-align: center;
}

@media (min-width: 1200px) {
  .container-big {
    max-width: 1500px;
    margin: 0 auto;
  }

  .container-small {
    max-width: 1300px;
    margin: 0 auto;
  }
}
@media (max-width: 1024px) {
  #nav .nav__item {
    width: 100%;
    height: 100%;
  }
  #nav .nav__item-logo {
    width: 100%;
    padding: 7rem 8rem;
  }
  #nav .nav__item-logo img {
    width: 100%;
  }
  #nav .nav__item-search {
    display: none;
  }
  #nav .nav__item-content > li {
    padding: 1.6rem 0;
  }

  #product .product__item {
    height: 100%;
  }

  #blog .blog__new {
    padding-bottom: 1.6rem;
  }

  #footer .footer__desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: unset;
  }
  #footer .footer__desc-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #footer .footer__desc-right-wrap {
    margin-top: -23%;
  }
}

/*# sourceMappingURL=main.css.map */
