#header {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 1.6rem 3.2rem;
    font-size: 2rem;
    height: var(--header-height);
}

.header_social-icon {
    width: 3rem;
    color: white;
    line-height: var(--header-height);
    padding: 0 1.6rem;
}

.header-social a:hover,
.header_social-icon:hover,
.header-contact__hotline a:hover,
.header-contact__email a:hover {
    filter: brightness(60%);
    cursor: pointer;
}

.header-contact,
.header-contact__hotline,
.header-contact__email {
    display: flex;
    justify-content: space-around;
}

.header-contact__email {
    padding: 0 3.2rem 0 1.6rem;
}

.header-contact__hotline > .header_social-icon,
.header-contact__email > .header_social-icon {
    padding-right: 32px;
}

.header-contact__hotline a,
.header-contact__email a {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.6rem;
}

.header-contact__language > .header_social-icon {
    padding: 0;
}

#nav {
    padding: 0 4.8rem;
    display: flex;
    justify-content: space-between;
    height: var(--slider-height-PC);
    background-color: rgb(101, 105, 114);
    z-index: 1;
}

.nav-menu {
    display: none;
    position: relative;
    line-height: var(--slider-height-tablet);
    font-size: 2rem;
    color: var(--white-color);
    bottom: 8.7rem;
    right: 20.3rem;
}

.nav-logo {
    height: var(--slider-height-PC);
    z-index: 2;
    position: absolute;
    bottom: 0px;
    right: 0;
}

.nav-logo img {
    width: 16.8rem;
    height: var(--slider-height-PC);
}

.nav_content {
    display: flex;
    padding: 0 6.4rem;
    height: var(--slider-height-PC);
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;    
    line-height: var(--slider-height-PC);
    z-index: 1;
}

.nav_content--close {
    display: none;
}

.nav_content > li {
    padding: 0 1.4rem;
    transition: transform ease 0.6s;
}

.nav_content > li > a {
    font-size: 2rem;
    color: var(--white-color);
    text-decoration: none;
}

.nav_content > li:hover {
    cursor: pointer;
    transform: scale(120%);
}

.nav-search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-search input {
    padding: 0.8rem 1.6rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border: none;
}

.nav-search--icon {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 1rem 1.6rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.nav_content li:hover .subnav {
    display: block;
}

.subnav {
    display: none;
    background-color: var(--white-color);
    z-index: 2;
    position: absolute;
    list-style: none;
    line-height: 2rem;
    min-width: 20rem;
    top: calc(100% - 2rem);
    animation: ease swipeRight 0.5s;
    box-shadow: 1rem 1rem 10rem rgba(172, 172, 172, 0.685);
}

.subnav a {
    text-decoration: none;
    color: var(--primary-color);
}

.subnav li {
    padding: 1.6rem;
}

.subnav::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2.4rem;
    top: -2rem;
    left: 0;
}

.subnav li:hover {
    color: var(--white-color);
    background-color: var(--primary-color);
}

#slider {
    position: relative;
}

.slider__content {
    position: absolute;
    color: var(--white-color);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    top: 40%;
}

.slider__content > p:first-child {
    font-size: 7rem;
    font-weight: 800;
    text-align: center;
}

.slider__content p:last-child {
    font-size: 2.8rem;
    text-align: center;
    font-weight: 300;
}

.slider__content--lien-he p:first-child {
    font-size: 3.5rem;
    font-weight: 600;
}

.slider__content--lien-he p:last-child {
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: 3.2rem;
}

.slider__content--title .slider__content--title-item {
    display: none;
    font-size: 6rem;
    color: var(--primary-color);
    font-weight: 600;
    text-align:  center;
    padding-top: 3.2rem;
}

.slider__content--title-item.active {
    display: block;
}

#slider img {
    width: 100%;
    z-index: -1;
}

.slider__page-product {
    height: 20.4rem;
    background-color: rgb(229, 229, 229);
}

.slider__content--san-pham {
    top: 20%;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.slider__content--san-pham > p:first-child {
    font-size: 1.2rem;
    color: rgb(132, 138, 138);
}

.slider__content--san-pham p:first-child i {
    padding: 0 1.6rem;
}

.slider__content--san-pham p:first-child span:first-child,
.slider__content--san-pham p:first-child i {
    font-weight: 600;
    color: var(--primary-color);
}

.slider__content--san-pham p:last-child {
    font-size: 5rem;
    color: var(--primary-color);
    font-weight: 600;
    padding-top: 3.2rem;
}

#product {
    position: relative;
}

#product > img {
    width: 100%;
}

.product_item {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-left: 5.6rem;
    margin-right: 5.6rem;
    justify-content: space-between;
    z-index: 1;
    top: 25%;
}

.product-item {
    width: calc(100% / 3 - 4.1rem);
    background-color: var(--white-color);
    text-align: center;
    top: 0;
    z-index: 1;
    padding: 0 3.2rem;
}

.product-item__img {
    position: relative;
    margin-top: 4rem;
    left: -2rem;
    width: 48rem;
}

.product-item__img--1 {
    left: -3.2rem;
    width: 100%;
}

.product-item__img--2 {
    left: -0.2rem;
    width: 90%;
}

.product-item__img--3 {
    left: -0.2rem;
    width: 95%;
}

.product-item label {
    font-size: 3.2rem;
    font-weight: 400;
}

#product-details {
    display: flex;
    justify-content: space-between;
    background-color: var(--white-color);
}

.product-details__menu {
    background-color: rgb(243, 247, 250);
    width: 32rem;
    box-shadow: 1rem 1rem 2rem #ccc;
}

.product-details__menu li {
    list-style: none;
    padding: 2.1rem 1.6rem;
    font-size: 1.6rem;
    border: 1px solid rgb(216, 214, 214);
    font-weight: bold;
    color: var(--primary-color);
}

.product-details__menu li:hover {
    cursor: pointer;
}

.product-details__menu--item.active {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.wrapped {
    flex: 1;
    margin-left: 3.2rem;
}

.product-details__wrap {
    display: none;
    position: relative;
}

.product-details__wrap.active {
    display: flex;
    flex-direction: row;
}

.product-details__wrap > img {
    width: 100%;
    height: 32rem;
}

.product-details__wrap > img:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.product-details__wrap .image__content-icon {
    position: absolute;
    font-size: 3rem;
    color: red;
    width: 7rem;
    height: 7rem;
    top: 40%;
    left: 45%;
    background-color: var(--white-color);
    border-radius: 100%;
    text-align: center;
    line-height: 7rem;
}

.product-details__desc {
    padding-left: 5.6rem;
}

.product-details__desc li {
    list-style: none;
    padding: 0.8rem;
    font-size: 1.6rem;
    color: rgba(101, 105, 114, 0.9);
}

.product-details__desc li::before {
    content: "\2022";
    color: black;
    font-weight: 900; 
    display: inline-block;
    width: 1em;
    margin-left: -1em; 
}

table {
    font-size: 1.6rem;
    width: 100%;
    box-shadow: 1rem 1rem 2rem #ccc;
}

thead {
    background-color: var(--primary-color);
    color: var(--white-color);
}

tbody {
    flex: 1;
}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

th, td {
    padding: 1.6rem;
    text-align: left;
}

.product-details__wrap--ky-thuat {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    color: rgba(101, 105, 114, 0.9);
    text-align: justify;
}

.product-details__wrap--ky-thuat > p {
    padding: 0.8rem 0;
    line-height: 2.6rem;
}

.product-details__company,
.product-details__contact span {
    font-weight: 600;
    color: var(--primary-color);
}

.trapezoid_btn p {
    color: var(--white-color);
    position: absolute;
    left: -20.5rem;
    top: -3.8rem;
    font-size: 2rem;
    padding: 0.8rem;
    display: block;
    font-weight: 600;
}

.trapezoid_btn p:hover {
    cursor: pointer;
}

.trapezoid_btn--3 {
    bottom: -5rem;
}

.trapezoid_btn--3:hover {
    bottom: -4rem;
    transition: all ease-in 0.3s;
}

#introduction-policy {
    background-image: linear-gradient(to bottom, var(--white-color), rgba(255, 254, 254, 0.76));
}

.introduction__header {
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
}

.introduction__header span {
    color: rgb(236, 28, 33);
}

.introduction__content {
    font-size: 1.6rem;
    padding: 6.4rem 0;
    text-align: justify;
}

.trapezoid_btn--introduction {
    text-align: center;
    left: 1px;
}

.trapezoid_btn--introduction--introduction {
    margin: auto;
}

.introduction__content p {
    line-height: 3.5rem;
}

.introduction__content p:first-child {
    padding-bottom: 2rem;
}

.trapezoid_btn--introduction p {
    color: var(--white-color);
    position: absolute;
    left: -14.5rem;
    top: -2.4rem;
    font-size: 1.4rem;
    padding: 0.8rem;
    display: block;
    font-weight: 400;
    line-height: 1.7rem;
}

#policy {
    display: flex;
    padding: 6.8rem 14.8rem;
}

.policy__content--wrap {
    background-color: var(--white-color);
    align-items: center;
    justify-content: center;
    height: 47.6rem;
    display: flex;
}

.policy__content {
    padding: 5.6rem;
    border: 0.5rem solid var(--primary-color);
    margin: 3.2rem;
    background-color: var(--white-color);
}

.policy__content-header {
    font-size: 2.8rem;
    font-weight: 600;
}

.policy__content-content {
    padding: 4.8rem 0;
    font-size: 1.4rem;
}

.policy__content-link {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 0.8rem;
}

#blog {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(229, 229, 229);
}

.blog__new {
    width: 30rem;
    /* height: 24.5rem; */
}

.blog__new-header {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.blog__new-header-item {
    font-size: 2.6rem;
    font-weight: 600;
    padding: 2.4rem 1.6rem 0.8rem;
}

.blog__new-header-content {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2rem;
    padding: 1.6rem 1.6rem 2.4rem;
}

.blog__new-btn {
    background-color: var(--white-color);
    text-align: center;
    padding: 1.6rem;
}

.blog__new-btn a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--primary-color);
    font-weight: 600;
    padding: 0.8rem;
    display: block;
    transition: transform ease 0.5s;
}
.blog__new-btn a:hover {
    transform: scale(140%);
}

.blog__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10rem;
    width: 80%;
}

.blog__list-item {
    width: calc(100% / 3 - 4rem);
    height: 24.5rem;
    box-shadow: 1rem 1rem 2rem #ccc;
    transition: transform ease 0.5s
}

.blog__list-item:hover {
    transform: translateY(-0.6rem);
    cursor: pointer;
}

.blog__list-item img,
.news__list-item img {
    width: 100%;
    height: 14.5rem;
    background: top center no-repeat;
}

.blog__list-item-content {
    color: var(--primary-color);
    background-color: var(--white-color);
    padding: 3.2rem 0.8rem;
    font-weight: 600;
    font-size: 1.6rem;
}

#news {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(249, 249, 249);
}

.news__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3.2rem 0;
}

.news__list-item {
    width: calc(25% - 3.9rem);
    box-shadow: 1rem 1rem 2rem #ccc;
    transition: transform ease 0.5s;
}

.news__list-item:hover {
    cursor: pointer;
    transform: translateY(-0.7rem);
}

.new.active {
    display: block;
}

.new {
    display: none;
}

.new__suggest-header {
    font-size: 2.8rem;
    text-align: center;
    padding-top: 5.4rem;
    font-weight: 600;
}

#contact {
    display: flex;
    background-color: rgb(249, 249, 249);
    justify-content: space-between;
}

.contact__info {
    padding-right: 4.8rem;
}

.contact__info-header {
    font-size: 2.6rem;
    font-weight: 600;
}

.contact__info-need {
    font-size: 1.8rem;
    line-height: 3rem;
    font-weight: 400;
    color: var(--primary-color);
    padding: 1.6rem 0 3.2rem 0.8rem;
}

.contact__info-info-item-wrap {
    display: flex;
    justify-content: space-between;
}
.contact__info-info-item-wrap:last-child > .contact__info-info-item {
    width: 100%;
}

.contact__info-info-item {
    display: flex;
    flex-direction: column;
    padding-bottom: 2.4rem;
    width: calc(50% - 1.6rem);
}

.contact__info-info-item--header {
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 1.6rem;
}

.contact__info-info-item--input {
    padding: 0.8rem;
    border: 1px solid #ccc;
    background-color: var(--white-color);
}

.contact__map img {
    width: 100%;
    transition: transform ease 1.5s;
    padding-top: 1.6rem;
}

.contact__map img:hover {
    transform: scale(130%);
    cursor: pointer;
}

#introduction-page {
    background-color: var(--white-color);
}

.introduction-page__img {
    display: flex;
    justify-content: space-around;
    padding: 0 5rem;
}

.introduction-page__img img {
    width: calc(100% / 3 - 3rem);
    box-shadow: 2rem 2rem 4rem rgba(185, 185, 185, 0.753);
    transition: transform ease 1s;
}

.introduction-page__img img:hover {
    transform: scale(105%);
    cursor: pointer;
}

.introduction-page__content {
    text-align: justify;
}

.introduction-page__content--content {
    font-size: 1.6rem;
    color: rgba(101, 105, 114, 0.8);
    line-height: 3rem;
}

.introduction-page__content--content p {
    align-items: justify;

}

.introduction-page__content--header {
    font-size: 2rem;
    padding: 3.2rem 0;
    font-weight: 600;
}

#image {
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
}

.image__content {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.image__content:last-child {
    padding-top: 4rem;
}

#image img {
    width: calc(100% / 3 - 2.3rem);
    box-shadow: 1rem 1rem 2rem #ccc;
    transition: transform ease 0.7s;
}

#image img:hover {
    transform: scale(105%);
    cursor: pointer;
}

.image__content-item {
    width: calc(100% / 3 - 3rem);
    position: relative;
}

.image__content-item img {
    width: 100%;
    height: 23.4rem;
}

.image__content-item img:hover {
    cursor: pointer;
    filter: brightness(80%);
}

.image__content-item .image__content-icon {
    position: absolute;
    z-index: 1;
    font-size: 2rem;
    width: 5rem;
    height: 5rem;
    background-color: var(--white-color);
    top: 38%;
    left: 40%;
    text-align: center;
    align-items: center;
    line-height: 5rem;
    border-radius: 100%;
}

.image__content-icon:hover {
    cursor: pointer;
    transform: scale(120%);
    box-shadow: 3rem 3rem 5rem #ccc;
}

#video {
    background-color: var(--white-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#footer {
    display: flex;
    flex-direction: column;
    padding: 0 14.8rem 3.2rem;
    background-color: var(--primary-color)
}

.footer__desc {
    display: flex;
}

.footer__desc-left {
    width: 30%;
}

.footer__content {
    font-size: 1.6rem;
    padding-top: 2.4rem;
    color: rgba(229, 229, 229, 0.4);
}

.footer__desc-right-wrap {
    padding-left: 2.4rem;
    padding-top: 9rem;
    flex: 1;
}

.footer__desc-right {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.footer__desc-right__header,
.footer__desc-right__item {
    list-style: none;
}

.footer__desc-right__header {
    font-size: 1.5rem;
    color: rgb(229, 229, 229);
    font-weight: 600;
    width: calc(100% / 3 - 4rem);
}

.footer__desc-right__item {
    padding-top: 1.6rem;
}

.footer__desc-right__header .footer__desc-right__item > .footer__desc-right__item--no-bb {
    border-bottom: none;
    margin: -1.6rem 0;
}

.footer__desc-right__item--no-bb:first-child p,
.footer__desc-right__item--no-bb i {
    line-height: 2.5rem;
}

.footer__desc-right__item li i {
    padding-right: 0.8rem;
}

.footer__desc-right__item li {
    padding: 1.6rem 0 2rem;
    border-bottom: 1px solid rgba(229, 229, 229, 0.2);
    color: rgba(229, 229, 229, 0.4);
    display: flex;
    font-weight: 400;
    transition: transform ease 0.5s;
}

.footer__desc-right__item li:hover {
    cursor: pointer;
    filter: brightness(60%);
    transform:translateX(0.7rem);
}

.footer__ambition {
    display: flex;
    padding: 4.8rem 0 3.2rem;
    justify-content: flex-end;
    font-size: 1.8rem;
    flex: 1;
}

.footer__ambition--content {
    padding: 3.2rem 3.2rem;
}

.footer__ambition--content:first-child {
    background-color: rgba(54, 60, 72, 1);
    font-size: 1.4rem;
}

.footer__ambition--content:first-child a {
    color: rgba(255, 254, 254, 0.4);
    text-decoration: none;
}

.footer__ambition--content:last-child {
    background-color: rgba(255, 254, 254, 0.9);
    padding: 3.2rem 7.8rem;
    font-size: 1.8rem;
    /* font-weight: 500; */
}

.footer__copyright {
    text-align: center;
    font-size: 1.6rem;
    color: rgba(229, 229, 229, 0.76);
}

.nav-logo--footer {
    bottom: 25%;
}

#slider .slider--lien-he {
   height: 40rem;
   opacity: 0.4;
}