/* 1440px < PC < 2560px */
@media (min-width: 2560px) {
    #main {
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }
}

/* 1440px < PC < 2560px */
@media screen and (min-width: 1440px) and (max-width: 2559px) {
    #main {
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .trapezoid_logo {
        border-width: 12.8rem 0 4.2rem 19.8rem;
    }

    .nav-logo img {
        position: relative;
        width: 19.8rem;
        height: var(--slider-height-PC-high);
        top: -2rem;
    }

    #nav {
        height: var(--slider-height-PC-high);
    }

    .nav_content {
        flex: 1;
        line-height: var(--slider-height-PC-high);
    }

    .nav_content > li > a {
        font-size: 2.6rem;
    }

    .nav-search input {
        padding: 1.6rem 3.2rem;
        font-size: 1.6rem;
    }

    .nav-search--icon {
        padding: 2rem 3.2rem;
    }

    .subnav li {
        font-size: 2.2rem;
    }

    .slider__content {
        top: 30%;
    }

    .slider__content--san-pham > p:first-child {
        font-size: 2rem;
    }

    .slider__content--san-pham p:last-child {
        padding-top: 1.6rem;
        font-size: 6rem;
    }

    .slider__content--lien-he p:first-child {
        font-size: 5.5rem;
    }

    .slider__content--lien-he p:last-child {
        font-size: 2rem;
    }

    .product_item {
        width: 90%;
        left: 3.4rem;
    }

    .product-details__menu li {
        font-size: 2.4rem;
        padding: 2.8rem 2.2rem;
    }

    .product-details__wrap:first-child.active {
        display: flex;
        justify-content: space-between;
    }

    .product-details__desc li {
        font-size: 2.6rem;
    }

    .product-details__img {
        position: relative;
        transform: scale(130%);
        flex: 1;
        top: 110px;
    }

    .product-details__wrap > img {
        height: 43.8rem;
    }
    
    .wrapped {
        margin-left: 6.8rem;
    }

    .product-details__wrap--ky-thuat > p, .product-details__contact p {
        font-size: 2.4rem;
        line-height: 3.6rem;
    }


    .trapezoid_btn {
        left: 13%;
        border-width: 5.8rem 0 4.2rem 32.8rem;
    }

    .trapezoid_btn p {
        font-size: 2.6rem;
        left: -27rem;
    }

    .introduction__content {
        font-size: 2.6rem;
        color: rgba(104, 104, 104, 0.781);
    }

    .trapezoid_btn-size-s {
        border-width: 4.8rem 0 4.2rem 27.8rem;
    }

    .trapezoid_btn--introduction p {
        font-size: 2.6rem;
        left: -21.5rem;
        top: -3rem;
    }

    .introduction-page__content--content {
        font-size: 2rem;
    }

    .introduction-page__content--header {
        font-size: 3rem;
    }

    .policy__content-header {
        font-size: 4.6rem;
    }

    .policy__content-content {
        font-size: 2rem;
        line-height: 3.2rem;
    }

    .policy__content-link {
        font-size: 2.4rem;
    }

    .blog__new {
        width: 30%;
        height: 24.5rem;
    }

    .blog__new-header-item {
        font-size: 3.2rem;
    }

    .blog__new-header-content {
        font-size: 2rem;
        line-height: 3rem;
    }

    .blog__new-btn a {
        font-size: 2.4rem;
    }

    .news__list-item {
        width: calc(25% - 2rem);
    }

    .image__content-item img {
        height: 29.4rem;
    }

    .news__list-item img {
        height: 20.5rem;
    }

    .contact__info-info-item--input {
        padding: 1.6rem;
        font-size: 1.6rem;
    }

    table {
        font-size: 2.4rem;
    }

    th, td {
        padding: 2.1rem;
    }
    
    .footer__content {
        font-size: 2.2rem;
        line-height: 2.8rem;
        text-align: justify;
    }
    
    .footer__desc-right__header {
        font-size: 2rem;
    }

    .footer__desc-right__item li {
        padding: 2rem 0;
    }

    .footer__desc-right__header .footer__desc-right__item > .footer__desc-right__item--no-b {
        margin: 0;
    }
    
    .footer__ambition--content {
        flex: 1;
    }

    .footer__ambition--content:first-child a {
        font-size: 2.4rem;
    }

    .footer__ambition--content:first-child a > i {
        padding-right: 3.8rem;
    }

    .footer__ambition--content:last-child p {
        font-size: 2rem;
    }

}

/* 1280 <= PC <= 1599 */
@media screen and (min-width: 1280px) and (max-width: 1600px) {
    #main {
        width: auto;
    }

    #nav {
        display: flex;
        height: var(--slider-height-tablet);
    }

    .nav_content {
        flex: 1;
        line-height: var(--slider-height-tablet);
    }

    .nav_content > li > a {
        font-size: 1.6rem;
    }

    .trapezoid_logo {
        border-width: 8.8rem 0 2.2rem 12.8rem;
    }

    .nav-logo img {
        position: relative;
        width: 12.8rem;
        height: var(--slider-height-tablet);
        top: 2rem;
    }

    #policy {
        width: 100%;
    }

    .policy__content--wrap {
        height: 42.1rem;
    }

    .policy__content {
        padding: 7.2rem 4.4rem;
        margin: 3.2rem;
    }

    .policy__img {
        width: 120%;
    }

    .policy__img img {
        width: 100%;
    }

    .blog__list {
        padding-left: 7rem;
    }

    .blog__new {
        width: 25rem;
    }

    .blog__list-item {
        width: calc(100% / 3 - 2rem);
    }

    .blog__list-item-content {
        padding: 3rem 0.8rem;
    }

    #blog, #policy, #footer {
        padding: 6.8rem 4.8rem;
    }

    .footer__ambition--content {
        flex: 1;
    }
}
@media (min-width: 1400px) and (max-width: 1599px) {
    .nav_content > li > a {
        font-size: 1.6rem;
    }
}

@media (min-width: 1024px) and (max-width: 1366px) {
    #main {
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .trapezoid_logo {
        border-width: var(--slider-height-tablet) 0 4.2rem 16.8rem;
    }

    #nav {
        height: var(--slider-height-tablet);
    }

    .nav-menu {
        display: inline-block;
        position: relative;
        line-height: var(--slider-height-tablet);
        font-size: 2rem;
        color: var(--white-color);
        z-index: 2;
    }

    .nav-logo {
        height: var(--slider-height-tablet);
    }

    .nav-logo img {
        position: relative;
        width: 16.8rem;
        height: var(--slider-height-tablet);
    }

    .nav_content {
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 6.4rem;
        left: -10rem;
        line-height: 5rem;
        z-index: 1;
        background-color: var(--primary-color);
        color: var(--white-color);
        overflow-x: hidden;
        height: 55rem;
        transition: 0.5s;
        padding: 0 3.2rem;
        width: 0;
    }

    .nav_content--close {
        position: relative;
        display: block;
        right: 0;
        margin-top: 2rem;
        font-size: 2rem;
    }
    
    .nav_content > li > a {
        font-size: 1.4rem;
    }

    .nav_content > li:hover {
        background-color: var(--white-color);
    }

    .nav_content > li:first-child:hover {
        background-color: var(--primary-color);
    }
    
    .nav_content > li:hover a {
        color: var(--primary-color);
    }

    .product_item {
        width: 90%;
        left: 0;
    }

    .trapezoid_btn {
        left: 0;
        border-width: 4.8rem 0 3.2rem 19.8rem;
    }

    .trapezoid_btn p {
        font-size: 1.6rem;
        left: -17rem;
    }

    #introdution, #policy, #blog, #footer {
        padding: 6.8rem;
    }

    .policy__content--wrap,
    .policy__img {
        width: 50%;
        height: 26.2rem;
    }

    .policy__content {
        padding: 2.4rem;
    }

    .policy__content-header {
        font-size: 2.4rem;
    }

    .policy__content-content {
        font-size: 1.6rem;
        line-height: 2rem;
        padding: 1.6rem 0;
        text-align: justify;
    }

    .policy__content-link {
        font-size: 2rem;
    }

    .policy__img img {
        width: 100%;
    }

    .blog__new {
        width: 30%;
    }

    .blog__list {
        padding-left: 4rem;
    }

    .blog__list-item {
        width: calc(100% / 3 - 2rem);
    }

    .blog__list-item img {
        height: 12.5rem;
    }

    .header-social {
        display: flex;
        flex-wrap: wrap;
    }

    .footer__content {
        text-align: justify;
    }

    .footer__ambition--content:first-child .header-social a {
        font-size: 1.8rem;
        padding-top: 1.6rem;
    }

    .footer__ambition--content:first-child a > i {
        padding-right: 3.8rem;
    }

    .footer__ambition--content:last-child p {
        font-size: 2rem;
        text-align: center;
        padding-top: 1.6rem;
    }

}
